doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Быстрый запуск Webpack'
    link(rel="stylesheet", href="/style.css")
  body
    p Файл откомпилирован шаблонизатором Pug123
    img.logo2(src=require('./app/image.png'), alt='Загрузка SVG изображений с помощью Webpack')
    :markdown-it(linkify langPrefix='highlight-')
      ## Markdown документ

      - Написано на **Markdown**
